<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="html_head" id="html_head">
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" th:href="@{/css/simple.css}" />
</head>

<body>

	<div th:fragment="header" id="header">
	 
		
	</div>
	<div th:fragment="menu" id="menu">
		<!-- Navigation -->
		<nav class="navbar">
			
			<div>
			<a>Trashify</a>
			<a th:href="@{/home}">Home</a>
			<a th:href="@{/profile}">Profile</a>	
			<a th:href="@{/trashify}">Trashify</a>
			<a th:href="@{/locate}">LocateBin</a>
			<a th:href="@{/news}">News</a>
			<a th:href="@{/rewards}">Rewards</a>
			<a th:href="@{/about}">About Us</a>
			</div>
			<div class='login'>
			<a th:href="@{/logout}">Log Out</a>
			</div>
			
		</nav>
	</div>
	<div>

</div>
 

</body>

 
</html>