<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: html_head"/>	
<body>
<div th:replace="fragments/layout.html :: menu"/>
	<div th:replace="fragments/layout.html :: header"/>
<div class="container-fluid fill d-flex flex-column">
	<div class="container">
		<div class="row fill">
			<!--<div class="col-lg-3" style="background: rgb(255, 255, 255);">
			  <img th:src="@{img/happy.JPG}" style="height: 300px; width: 350px; margin-top: 200px; margin-bottom:auto; border-radius: 17px;"/>
		
			</div>-->
			<div class="col" style="background: rgb(219, 249, 174); text-align: center;">

				<h1 >About Trashify<br></h1>
				<h1 >What is Trashify?</h1>
				<p>It's a new, user-friendly classifying recyclable waste application </p>
				
				<h1 >Who is Trashify for?</h1>
				<p>Recycling converts waste into useful products and conserves natural resources. It also reduces the need for incineration and extends the lifespan of Semakau Landfill. Recycling is a great way to protect the environment.</p>
				
				<div class="text-center">
					<button type="button" class="btn btn-success"><a style="text-decoration: none;" class="link-light" href="/home">Back to Home</a></button>
				</div>

			</div>
		</div>
	</div>
</div>
<!--<script src="bootstraps/bootstrap.min.js"></script>
--></body>

</html>