<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="index.js"></script>
  <title>Document</title>
</head>
<body>
  <div class="container flex">
    <div class="details">
        <h1> You've recycled 3 items today and 10 items this week! </h1>
    </div>
    <div class="details flex">
      <h2>Thats' ...</h2>
      <div class="progress-bar">
        <div class="completed"> 2 of 5 </div>
      </div>
      <h2> ... goals completed!</h2>
    </div>
    <div class="chart-container">
      <canvas id="myChart"></canvas>
    </div>  
  </div>
</body>
</html>